<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
  <display-name>LifeMiles</display-name>
  
	<welcome-file-list>
	  <welcome-file>campaingForm.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
	  <servlet-name>BotDetect Captcha</servlet-name>
	  <servlet-class>botdetect.web.http.CaptchaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>BotDetect Captcha</servlet-name>
	  <url-pattern>/botdetectcaptcha</url-pattern>
	</servlet-mapping>
  	<!--servlet>
		<servlet-name>jcaptcha</servlet-name>
		<servlet-class>com.octo.captcha.module.servlet.image.SimpleImageCaptchaServlet</servlet-class>
		<load-on-startup>0</load-on-startup>		
	</servlet>  
	-->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<!--
	<servlet-mapping>
		<servlet-name>jcaptcha</servlet-name>
		<url-pattern>/jcaptcha</url-pattern>
	</servlet-mapping>
	-->
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>crossDomainSessionSecurity</param-name>
            <param-value>false</param-value>
        </init-param>
	</servlet>
	
	<servlet-mapping>
  	<servlet-name>dwr-invoker</servlet-name>
  		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	
	<error-page>
        <error-code>500</error-code>
        <location>/jsp/despedida.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/jsp/despedida.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/jsp/despedida.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/despedida.jsp</location>
    </error-page>
	
	<session-config>
		<!-- 1 hour timeout -->
		<session-timeout>60</session-timeout>
	</session-config>
	
	
	<context-param>
	  <param-name>LBD_helpLinkMode</param-name>
	  <param-value>image</param-value>
	</context-param>
	<context-param>
	  <param-name>LBD_bannedSequences</param-name>
	  <param-value>
	    A,B,C,D,E,H,J,K,M,N,O,P,R,S,T,U,V,W,X,Y,Z,
	    AA,BB,CC,
	    ABC,BCA,CAB
	  </param-value>
	</context-param>
  
</web-app>